/* profil */
.rpCard.none {
    background: #ffffff;
    color: #175381;
}
.rpCard.abg {
    background: url('assets/img/abgBg.jpg');
    color: #39ff14;
    border-left: 8px solid #c0c0c0;
}
.rpCard.acd {
    background: url('assets/img/acdBg.jpg');
    color: #dfb9a7;
    border-left: 8px solid #b99e5d;
}
.rpCard.kop {
    background: url('assets/img/kopBg.jpg');
    color: #dc143c;
    border-left: 8px solid #ffd700;
}
.rpCard.osr {
    background: url('assets/img/osrBg.jpg');
    color: #dc143c;
    border-left: 8px solid #ffd700;
}
.rpCard.pes {
    background: url('assets/img/pesBg.jpg');
    color: #000080;
    border-left: 8px solid #c0c0c0;
}
.rpCard.pkv {
    background: url('assets/img/pkvBg.jpg');
    color: #4169e1;
    border-left: 8px solid #c0c0c0;
}
.rpCard {
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 2rem;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: inherit;
}
.rpCard img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.rpInfo p {
    margin: 0.3rem 0;
}
.rpStory {
    margin-top: 1rem;
    background: rgba(255,255,255,0.6);
    padding: 1rem;
    border-radius: 6px;
}

/* form */
.greek-dropdown {
    position: relative;
    width: 300px;
    font-family: sans-serif;
}
.greek-selected,
.greek-options li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}
.greek-selected {
    border: 1px solid #ccc;
    background: #f0f0f0;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}
.greek-options {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    max-height: 200px;
    overflow-y: auto;
}
.greek-options li:hover {
    background: #eee;
}
.greek-options img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}
